/* styles.css */
body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  padding: 20px;
}

.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  margin: 10px 0;
}

.accordion-header {
  background-color: #001eff;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-accordion {
  width: 20px;
  height: 20px;
  transition: all 0.4s ease;
  transform: rotate(180deg);
}
.accordion-header.active > .icon-accordion {
  transform: rotate(270deg);
}
.accordion-content {
  margin-top: 5px;
  background-color: rgb(54, 126, 178);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  border-radius: 10px;
}

.accordion-content p {
  margin: 0;
  padding: 15px;
  color: #fff;
  text-align: left;
}

